/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/a.exe
/a.exe
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-66effce13038b8f9b36a.json
/cmake-build-debug/CMakeFiles/3.29.6/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-cdc309a8781c5afcea96.json
/cmake-build-debug/CMakeFiles/3.29.6/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.29.6/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-f9cce30451ef33a439fc.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-11-24T11-37-24-0090.json
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-untitled1-Debug-e5358896c7a4233acfb6.json
/cmake-build-debug/CMakeFiles/untitled1.dir/timer.c.obj
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-3348aceebd9e6a41c4ad.json
